# Node.js dependencies
node_modules/
# package-lock.json is needed for GitHub Actions

# Environment variables
.env

# Logs
email-logs/
*.log
npm-debug.log*

# Sent emails
sent-emails/

# Subscriber data
subscribers.json

# Template upload results
template-upload-results.json

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
